html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: black;
    color: white;
}

.span-color{
    color: #ff004f;
}

#navbar>h1{
    cursor: default;
    user-select: none;
    font-size: 2.7em;
}
 nav>ul{
    list-style: none;
    display: flex;
}

nav>ul>li{
    display: inline-block;
    margin-right: 2em;
    cursor: pointer;
    user-select: none;
    font-size: 1.2rem;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav>ul>li::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav>ul>li:hover::after{
    width: 100%;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.width-div{
    margin: 0 auto;
    max-width: 1200px;
}

#sub-title{
    font-size: 30px;
    margin-bottom: 0;
}

#title{
    margin-top: 0;
    font-size: 60px;
}

#main-photo{
    width: 1080px;
}

#main-photo img{
    width: 100%;
}

#main-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me-title{
    font-size: 60px;
}

.about-me-p{
    text-align: justify;
    color: #ababab;
}

.CV{
    padding: 0.75em;
    font-size: 1.5rem;
    border: none;
    border-radius: 6px;
    color: white;
    background: #ff004f;
    cursor: pointer;
}

.Contact-Me{
    padding: 0.75em;
    font-size: 1.5rem;
    border: 2px solid #ff004f;
    border-radius: 6px;
    color: #ff004f;
    background: black;
    cursor: pointer;
    margin-left: 1em;
}

.button:hover{
    transform: scale(1.1);
}
#about{
    padding-top: 5em;
}

.about-tabs{
    display: flex;
    margin: 20px 0 10px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #ababab;
    user-select: none;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links:hover::after{
    width: 100%;
}
.tab-links.active-link{
    color: white;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-content-ul>li{
    margin: 10px 0 10px -2.5em;
    list-style: none;
}
.tab-content-ul>li>span{
    font-size: 14px;
    color: #b54769;
}

.tab-content{
    display: none;
}

.active-tab{
    display: block;
}

#projects{
    padding-top: 5em;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project>img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 300px;
    transition: transform 0.5s;
}

.project:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: height 0.5s;
}

.layer>h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.layer>a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover .layer{
    height: 100%;
}

textarea{
    resize: none;
}

#contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5em;
    flex-wrap: wrap;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 40px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition:  transform 0.5s;
}

.social-icons i:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

#CV{
    margin: 2em 0;
}
#form-submit{
    margin: 0;
    width: 200px;
}
#CV:hover,#form-submit:hover{
    background: #ff004f;
    color: white;
    border: none;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: none;
   outline: none;
    background: #262626;
    padding:15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.footer a{
    text-decoration: none;
    color: #ff004f;
}

nav .fa-solid{
    display: none;
}

#msg{
    color: #61b752;
    display: block;
    margin-top: 20px;
}

@media only screen and (max-width: 950px){
    #main-photo{
        position: absolute;
        top: 100px;
        left: -15%;
        z-index: -1;
        width: 523px;
        overflow: hidden;
    }
    .main-page-title{
        margin-left: 2em;
    }
    .Contact-Me{
        margin: 1em 0;
    }
    .project-cards{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    }
    .main-page-title{
        margin-top: 60%;
        font-size: 16px;
    }
    #title{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    nav>.fa-solid{
        position: absolute;
        right: 10%;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -290px;
        width: 250px;
        height: 100vh;
        padding-top: 90px;
        margin: 0;
        z-index: 2;
        flex-direction: column;
        transition: right 0.5s;
    }
    nav ul li{
        margin: 20px;
    }
    nav ul i{
        position: absolute;
        top:25px;
        left:25px;
    }
    #about, #projects, #navbar,#contact{
        padding: 0 1.5em;
    }
    #about{
        margin-top: 3em;
    }
    #about-h1{
        margin-top: 2em;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 92%;
    }
}